@import "lib/normalize";
@import "lib/markdown";
@import "lib/highlight";
@import "lib/iconfont";
@import "variables";
@import "mediaQuery";
html,
body {
    height: 100%;
    font-family: $fontGothic;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

a {
    text-decoration: none;
}

em,
i {
    font-style: normal;
}

.f-cb {
    display: block;
    zoom: 1
}

.f-cb:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden
}

.f-fl {
    float: left
}

.f-fr {
    float: right
}
